<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.mapper.GoodsMapper">
    <!--查询物资资料-->
    <select id="selGoods" resultType="java.util.HashMap">
        select g.code code, g.name name, g.unit unit, g.specifications specifications, g.id goodsId,
               i.amount amount, i.id inventoryId, g.producer producer, g.remark remark, g.image image,
               t.name typeName, t.id typeId
        from inventory i
        join goods g on i.goodsid = g.id
        join type t on g.typeid = t.id
        <where>
            <if test="id!=null and id!=0">
                and t.id = #{id}
            </if>
            <if test="name!=null and name!=''">
                <bind name="name" value="'%'+name+'%'"/>
                and g.name like #{name}
            </if>
        </where>
    </select>
    <!--删除物资资料信息-->
    <delete id="delGoods" parameterType="int">
        delete from goods where id = #{id}
    </delete>
    <!--添加物资资料信息-->
    <insert id="insGoods" parameterType="com.example.goods.entity.Goods"  useGeneratedKeys="true" keyProperty="id"  keyColumn="id">
        insert into goods
        values (default, #{goods.code}, #{goods.typeid}, #{goods.name},
                #{goods.unit}, #{goods.specifications}, #{goods.producer},
                #{goods.remark}, #{goods.image});
    </insert>
    <!--修改物资资料信息-->
    <update id="updGoods" parameterType="com.example.goods.entity.Goods">
        update goods set code = #{goods.code}, typeid =  #{goods.typeid}, name = #{goods.name},
                         unit = #{goods.unit}, specifications = #{goods.specifications}, producer = #{goods.producer},
                         remark = #{goods.remark}, image = #{goods.image}
        where id = #{goods.id}
    </update>
</mapper>