<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.goods.mapper.InstorageMapper">
    <!--查询入库信息-->
    <select id="selInstorageInfo" resultType="com.example.goods.entity.Instorage">
        select * from instorage
        <where>
            <if test="type!=null">
                and type = #{type}
            </if>
            <if test="linkman!=null and linkman!=''">
                <bind name="linkman" value="'%'+linkman+'%'"/>
                and linkman like #{linkman}
            </if>
        </where>
    </select>
    <!--查询对应的物资信息-->
    <select id="selGoodsInfos" parameterType="java.util.List" resultType="java.util.HashMap">
        select g.code code, g.name name, g.unit unit, g.specifications specifications, g.id goodsId,
        t.name typeName, g.producer producer, g.remark remark, g.image image, t.id typeId
        from goods g
        join type t on g.typeid = t.id
        where g.id in
        <foreach collection="goodsidsList" item="id" index="index"
                 open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>
    <!--添加入库信息-->
    <insert id="insInstorageInfo" parameterType="com.example.goods.entity.Instorage">
        insert into instorage
        values (default, #{in.code}, #{in.company}, #{in.department}, #{in.phone},
                #{in.intime}, #{in.type}, #{in.linkman}, #{in.goodsids}, #{in.amount});
    </insert>
    <!--添加入库信息后，添加对应库存数量-->
    <update id="updAmount">
        update inventory set amount = amount + #{amount} where goodsid = #{goodsid}
    </update>

    <update id="updInstorageInfo" parameterType="com.example.goods.entity.Instorage">
        update outstorage
        set company = #{in.company}, department = #{in.department}, phone = #{in.phone},
            linkman = #{in.linkman}, goodsids = #{in.goodsids}, amount = #{in.amount}
        where id = #{in.id}
    </update>
    <delete id="delInstorageInfo" parameterType="int">
        delete from instorage where id = #{id}
    </delete>
</mapper>